<meta http-equiv="Content-Security-Policy" content="default-src 'self' www.google-analytics.com https://www.google-analytics.com;style-src 'self'
  'unsafe-inline';img-src 'self' https://www.google-analytics.com data:;script-src 'self' www.google-analytics.com https://www.google-analytics.com https://www.googletagmanager.com https://google-analytics.com;script-src-elem 'self' https://www.google-analytics.com https://www.googletagmanager.com https://google-analytics.com;font-src 'self'"/>

<script src="/scripts/tagManager.js"></script>
<script async src="/scripts/gtag.js"></script>
<script src="/scripts/analytics.js"></script>

<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="<%- description %>" />
<meta name="keywords" content="<%- keywords %>" />
<meta name="author" content="<%- author %>">
<meta name="google-site-verification" content="8EQcz8hpKtwFtgB2gmsj9DRPHNvMlAwxIvqh2jpKM_s" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title><%- title %></title>