<!-- <div id="policy-agreement" class="text-center text-white w-100 fixed-bottom ">
    <div class="p-0 py-4 alert alert-muted bg-black-transparent-8 alert-dismissible fade show" role="alert">
        استفاده شما از این سایت بدین معناست که شما با تمامی قوانین این سایت موافقید و با آگاهی کامل از <a
            href="./roules-of-use.html" class="text-danger"> قوانین و مقررات </a> از
        این سایت استفاده میکنید.
        <button id="policy-accepted" type="button" class="px-3 my-2 btn btn-outline-danger radius" data-dismiss="alert"
            aria-label="Close">
            باشه
        </button>
    </div>
</div> -->