<div id="policy-agreement" class="w-100 fixed-bottom text-center text-white ">
    <div class="alert alert-muted bg-black-transparent-8 p-0 alert-dismissible fade show py-4" role="alert">
        استفاده شما از این سایت بدین معناست که شما با تمامی قوانین این سایت موافقید و با آگاهی کامل از <a
            href="./roules-of-use.html" class="text-danger"> قوانین و مقررات </a> از
        این سایت استفاده میکنید.
        <a id="policy-accepted" type="button" class="btn btn-outline-danger radius px-3 my-2" data-dismiss="alert"
            aria-label="Close">
            باشه
        </a>
    </div>
</div>