body{background-color:#e1dbd5}.max-width-1300{max-width:1300px;margin:0 auto}#editorjs{overflow-x:hidden!important}#editorjsContainer{display:none}.eng-font{font-family:Balsamiq,sans-serif!important}

.contentID__box span::-moz-selection {
  background-color: bisque;
}

.contentID__box span::selection {
  background-color: bisque;
}.contentID__box span {
  max-width: 250px;
  min-width: 200px;
  padding: 7px 13px;
  position: relative;
  font-family: Balsamiq !important;
  color: rgb(29, 92, 13);
  background-color: aliceblue;
  top: 2px;
  border: solid 1px rgba(0, 0, 0, 0.542);
}