body {
  background-color: rgb(225, 219, 213);
}

.max-width-1300 {
  max-width: 1300px;
  margin: 0 auto;
}

.scroll-x-hidden {
  overflow-x: hidden;
}

#editorjs,
.codex-editor__redactor {
  overflow-x: hidden !important;
}

.contentID__box span::-moz-selection {
  background-color: bisque;
}

.contentID__box span::selection {
  background-color: bisque;
}

.contentID__box span {
  max-width: 250px;
  min-width: 200px;
  padding: 7px 13px;
  position: relative;
  font-family: Balsamiq !important;
  color: rgb(29, 92, 13);
  background-color: aliceblue;
  top: 2px;
  border: solid 1px rgba(0, 0, 0, 0.542);
}
.alert__success {
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}

.alert__failed {
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
#editorjsContainer{
  display: none;
}
.eng-font {
  font-family: Balsamiq ,sans-serif !important;
}