// =================================================colors
$body-color: rgba(156, 155, 92, 0.534);
$nav-color: #17a2b8;
$box-main-color: rgba(241, 233, 233, 0.774);
$box-main-shadow-color: rgba(36, 35, 35, 0.589);
$footer-color: #17a2b8;
$footer-rights-color: rgb(18, 20, 32);

// =================================================elses