<div class="collapse fade" id="section-edit" data-parent="#accordion">
	<div class="container">
		<h1 class="text-center">فعلا امکان ویرایش وجود ندارد، شما باید محتوا را حذف کرده و از نو بسازید.</h1>
	</div>
</div>