 <div class="collapse fade" id="section-myproducts" data-parent="#accordion">
 	<div class="container mt-5 row max-width-1300">
 		<div class="text-center col-12 col-sm-6 col-md-4">
 			تعداد محتوا ها :
 			<span id="numberOfProducts" class="Parastoo font-2"></span>
 		</div>
 		<div class="text-center col-12 col-sm-6 col-md-4">
 			آپلود شده :
 			<span id="numberOfUploadedProducts" class="Parastoo font-2"></span>
 		</div>
 		<div class="text-center col-12 col-sm-6 col-md-4">
 			تأیید شده ها :
 			<span id="numberOfApprovedProducts" class="Parastoo font-2"></span>
 		</div>
 	</div>
 	<div class="my-3 divider"></div>
 	<div id="allMyProducts_container" class="container mx-auto my-5 row">
 		
 	</div>
 </div>