<div class="tab-pane fade show active" id="signup" role="tabpanel" aria-labelledby="signup-tab">
    <div class="container py-3 text-right">
        <div class="mt-3 bg-black-transparent-3 rounded box-shadow-muted p-3">
            <form id="register-form" class="text-right needs-validation was-validated" novalidate>
                <div class="row">
                    <div class="col-12 my-2">
                        <label for="fName_signup" class="text-white">نام : </label>
                        <input id="fName_signup" type="text" name="fName_signup"
                            class="form-control  justpersian custom-input input-border-bottom-black bg-white-transparent-4 rounded-0"
                            minlength="3" maxlength="20" placeholder="امیرمحمد" required>
                        <small class="text-info justpersian">
                            فقط حروف فارسی قابل قبول هستند.
                        </small>
                        <div class="invalid-feedback text-warning">
                            پر کردن این فیلد ضروریست.
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <label for="lName_signup" class="text-white">نام خانوادگی : </label>
                        <input id="lName_signup" type="text" name="lName_signup"
                            class="form-control  justpersian custom-input input-border-bottom-black bg-white-transparent-4 rounded-0"
                            minlength="3" maxlength="20" placeholder="میرزائی" required>
                        <small class="text-info justpersian">
                            فقط حروف فارسی قابل قبول هستند.
                        </small>
                        <div class="invalid-feedback text-warning">
                            پر کردن این فیلد ضروریست.
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <label for="email_signup" class="text-white">ایمیل : </label>
                        <input id="email_signup" type="email" name="email_signup"
                            class="form-control custom-input input-border-bottom-black bg-white-transparent-4 rounded-0"
                            placeholder="email@example.com" required>
                        <div class="invalid-feedback text-warning">
                            پر کردن این فیلد ضروریست.
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <label for="phone_number_signup" class="text-white">شماره همراه : </label>
                        <input id="phone_number_signup" type="number" name="phone_number_signup"
                            class="form-control custom-input input-border-bottom-black bg-white-transparent-4 rounded-0"
                            placeholder="09001234567" required>
                        <div class=" invalid-feedback text-warning">
                            پر کردن این فیلد ضروریست.
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <label for="passwordRegisteredUser" class="text-white">رمز : </label>
                        <input id="password_signup" type="password" name="passwordRegisteredUser"
                            class="form-control custom-input input-border-bottom-black bg-white-transparent-4 rounded-0"
                            placeholder="**********" minlength="8" maxlength="32" required>
                        <small class="text-warning">
                            رمز حداقل باید دارای 8 کاراکتر باشد.
                        </small>
                        <br>
                        <small class="text-warning">
                            رمز باید حداقل شامل یک حرف بزرگ انگلیسی ، یک حرف کوچک انگلیسی و یکی از
                            کاراکترهای زیر باشد.
                            <br>
                            / \ @ # $ % ^ & ( ) * - + ! [ ]
                        </small>
                        <br>
                        <div class=" invalid-feedback text-warning">
                            پر کردن این فیلد ضروریست.
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <label for="passwordRegisteredUser_confirmation" class="text-white">تکرار رمز : </label>
                        <input id="passwordConfrim_signup" type="password" name="passwordRegisteredUser_confirmation"
                            class="form-control custom-input input-border-bottom-black bg-white-transparent-4 rounded-0"
                            placeholder="**********" minlength="8" maxlength="32" required>
                        <div class=" invalid-feedback text-warning">
                            پر کردن این فیلد ضروریست.
                        </div>
                    </div>
                </div>
                <div class="col-12 my-2 py-2  bg-white text-center clearfix">
                    <a href="/" class="btn btn-outline-info float-md-left mx-2 my-3">بازگشت به سایت</a>
                    <button type="submit" id="register-btn" class="btn btn-success float-md-left mx-2 my-3">ثبت
                        نام</button>
                    <div class="custom-control custom-checkbox my-md-3 pt-md-2 mr-sm-2 float-md-right">
                        <input name="privacy_policy" type="checkbox" class="custom-control-input float-md-right"
                            id="privacy_policy" value="yes" required>
                        <label class="custom-control-label" for="privacy_policy">
                            با تمام <a href="/rules" target="_blank" class="text-info">شرایط و ضوابط</a> وبسایت رونیشکا
                            موافقم</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>